.markdownEditor{
  flex-direction: row;
}
.editor {
  width: 640px;
  height: 640px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.16);
  border-radius: 4px;
}

.title {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-dark-mute);
  padding: 0 20px;
  line-height: 40px;
  background-color: var(--color-background);
}

textarea {
  width: 640px;
  font-size: 15px;
  line-height: 1.6;
  height: 100%;
  padding: 20px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  resize: none;
  border: 0 none white;
}
